:root {
  --TC1: #222b6c;
  --TC2: #225ca0;
  --TC3: #016183;
  --TC4: #207d9c;
  --TC5: #30b2b5;
  --TC6: #ffffff;
  --TC7: #334155;
  --TC8: #cbd5e1;
  --TC9: #1e293b;
  --TC10:#166534;
  --TC11:#991b1b;
  --TC12:#64748b;
  --TC13:#e2e8f0;
  --TC14:#ef4444;
  --TC15:#475569;
  --TC16:rgba(34,43,108,0.10);
  --TC17:rgba(32,125,156,0.30);
  --TC18:rgba(48,178,181,0.15);
}